body {
    margin: 0px;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background-color: #0a1925;
    color:#8892b0;
    font-family: 'Calibre','Inter','San Francisco','SF Pro Text',-apple-system,system-ui,sans-serif;
    font-size: 20px;
    line-height: 1.3;
}
a{
   color: antiquewhite; 
   display: inline-block;
}
a:hover, a:focus {
    color:#64ffda;
    background-color: transparent;
    text-decoration: none;
}
li,li:hover{
    background-color: transparent;
    padding: 10px;
    margin: 10px;
}
.resumeBtn{
    color: #64ffda;
    background-color: transparent;
    border: 1px solid #64ffda;
    border-radius: 4px;
    padding: 0.75rem 1rem;
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    margin-left: 15px;
    font-size: 20px;
    padding: 10px;
    margin: 15px;
}
